<template>
  <div id="app">
    Hi there
    <button @click="btnClick">Click</button>
  </div>
</template>

<script>
import Pinjs from "./Pin";
const pinjs = new Pinjs();

export default {
  name: "App",
  components: {},
  methods: {
    btnClick() {
      console.log("Working");
      console.log(pinjs.defaultMethod());

      pinjs.createCard().then(res => {
        console.log(res);
      });

      pinjs.clientAxiosFunc()

      pinjs.test().then(res => {
        console.log(res)
      })

      pinjs.test2().then(res => {
        console.log(res)
      })
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
